<div class="container">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-10 is-offset-1">
      <div class="main-container">

        <div class="path-nav">
          <span *ngFor="let p of paths; let i = index;" (click)="changeAbsolutePath(i)">
            <div *ngIf="p.title !== 'browse'">
              <span>/</span>
              <span class="path-url-link">{{ p.title }}</span>
            </div>
            <div *ngIf="p.title === 'browse'">
              <span>/</span>
              <span class="path-url-link">home</span>
            </div>
          </span>
          <span *ngIf="!paths.length">
            <span>/</span>
            <span class="path-url-link">home</span>
          </span>
        </div>

        <div class="actions-bar">
          <button type="button" class="button is-small is-gray" *ngIf="selectedItems?.length" (click)="downloadFiles($event)">
            <span>Download</span>
          </button>
          <button type="button" class="button is-small is-gray" *ngIf="selectedItems?.length" (click)="downloadZip($event)">
            <span>Download ZIP</span>
          </button>
          <button type="button" class="button is-small is-gray" *ngIf="selectedItems?.length">
            <span>Move</span>
          </button>
          <button type="button" class="button is-small is-gray" *ngIf="selectedItems?.length">
            <span>Copy</span>
          </button>
          <button type="button" class="button is-small is-gray" (click)="dataService.createFolderDialog = true;">
            <span>Create Folder</span>
          </button>
          <app-selectbox [values]="['Grid View', 'List View']" [(ngModel)]="view" name="view"></app-selectbox>
        </div>

        <div class="content" *ngIf="dataService.fetching">
          <div class="content-section">
            <app-loader></app-loader>
          </div>
        </div>

        <div class="content" *ngIf="!dataService.fetching && view === 'Grid View'">
          <dts-select-container [(selectedItems)]="selectedItems" [selectMode]="false" [selectWithShortcut]="true" (select)="onSelect($event)">
            <div class="content-section" *ngIf="foldersLen || paths.length > 1">
              <h1>Folders</h1>
              <div class="columns is-multiline">
                <div class="column is-3" *ngIf="paths.length > 1">
                  <div class="folder-item" (click)="changeAbsolutePath(paths.length - 2)">
                    <div class="folder-item-icon">
                      <span class="icon-folder"></span>
                    </div>
                    <div class="folder-item-text">
                      <span>..</span>
                    </div>
                  </div>
                </div>
                <div class="column is-3" *ngFor="let folder of files | foldersFilter:showHidden">
                  <div class="folder-item" (click)="changePath($event, folder.filename)" [dtsSelectItem]="folder">
                    <div class="folder-item-icon">
                      <span class="icon-folder"></span>
                    </div>
                    <div class="folder-item-text">
                      <span>{{ folder.filename }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-section" *ngIf="filesLen">
              <h1>Files</h1>
              <div class="columns is-multiline">
                <div class="column is-3" *ngFor="let file of files | filesFilter:showHidden">
                  <div class="file-item" [dtsSelectItem]="file">
                    <div class="file-item-icon">
                      <span class="icon-file">
                        <span>{{ file.ext }}</span>
                      </span>
                    </div>
                    <div class="file-item-text">
                      <div class="file-item-text-content">
                        <span class="filename">{{ file.filename }}</span>
                        <span class="filetime">{{ file.stat.size | fileSize }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </dts-select-container>
          <div class="content-section" *ngIf="!foldersLen && !filesLen">
            <h1 class="has-text-centered">Empty folder.</h1>
          </div>
        </div>

        <div class="content" *ngIf="!dataService.fetching && view === 'List View'">
          <dts-select-container #container="dts-select-container" [(selectedItems)]="selectedItems" (select)="onSelect($event)">
            <div class="content-section less-margin" *ngIf="foldersLen || paths.length > 1">
              <div class="list-item" *ngIf="paths.length > 1" (click)="changeAbsolutePath(paths.length - 2)">
                <div class="columns is-paddingless is-marginless">
                  <div class="column is-12">
                    <span class="list-item-icon-container">
                      <img src="/assets/images/folder-icon.svg" class="list-item-icon">
                    </span>
                    <span>..</span>
                  </div>
                </div>
              </div>
              <div class="list-item" *ngFor="let folder of files | foldersFilter:showHidden" (click)="changePath($event, folder.filename)" [dtsSelectItem]="folder">
                <div class="columns is-paddingless is-marginless">
                  <div class="column is-12">
                    <span>
                      <img src="/assets/images/folder-icon.svg" class="list-item-icon">
                    </span>
                    <span>{{ folder.filename }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-section less-margin" *ngIf="filesLen">
              <div class="list-item" *ngFor="let file of files | filesFilter:showHidden" [dtsSelectItem]="file">
                <div class="columns is-paddingless is-marginless">
                  <div class="column is-10">
                    <span class="list-item-icon-container">
                      <img src="/assets/images/file-icon.svg" class="list-item-icon">
                    </span>
                    <span>{{ file.filename }}</span>
                  </div>
                  <div class="column is-1">
                    {{ file.ext }}
                  </div>
                  <div class="column is-1">
                    {{ file.stat.size | fileSize }}
                  </div>
                </div>
              </div>
            </div>
          </dts-select-container>
          <div class="content-section" *ngIf="!foldersLen && !filesLen">
            <h1 class="has-text-centered">Empty folder.</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-create-folder-dialog *ngIf="dataService?.createFolderDialog"></app-create-folder-dialog>
