<div class="container">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-10 is-offset-1">
      <div class="main-container">

        <div class="path-nav">
          <span *ngFor="let p of paths; let i = index;" (click)="changeAbsolutePath(i)">
            <div *ngIf="p.title !== 'browse'">
              <span>/</span>
              <span class="path-url-link">{{ p.title }}</span>
            </div>
            <div *ngIf="p.title === 'browse'">
              <span>/</span>
              <span class="path-url-link">home</span>
            </div>
          </span>
        </div>

        <div class="content">
          <div class="content-section">
            <h1>Folders</h1>
            <div class="columns is-multiline">
              <div class="column is-3" *ngFor="let folder of files | foldersFilter:showHidden">
                <div class="folder-item" (click)="changePath(folder.filename)">
                  <div class="folder-item-icon">
                    <span class="icon-folder">
                      <!-- <span>{{ folder.stat.size }} files</span> -->
                    </span>
                  </div>
                  <div class="folder-item-text">
                    <span>{{ folder.filename }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-section">
            <h1>Files</h1>
            <div class="columns is-multiline">
              <div class="column is-3" *ngFor="let file of files | filesFilter:showHidden">
                <div class="file-item">
                  <div class="file-item-icon">
                    <span class="icon-file">
                      <span>{{ file.ext }}</span>
                    </span>
                  </div>
                  <div class="file-item-text">
                    <div class="file-item-text-content">
                      <span class="filename">{{ file.filename }}</span>
                      <span class="filetime">{{ file.stat.size | fileSize }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
