<div class="container">
  <div class="columns is-paddingless is-marginless">
    <div class="column is-10 is-offset-1">
      <div class="space-between align-center">
        <a routerLink="/">
          <img src="/assets/images/sharebox-logo.svg" class="logo">
        </a>
        <div class="upload-section">
          <button type="button" class="button is-blue is-inverted" *ngIf="upload?.files?.length">{{ upload?.files.length }} files uploading</button>
          <label class="button">
            <input type="file" ngFileSelect [options]="upload?.options" (uploadOutput)="upload?.onUploadOutput($event)" [uploadInput]="upload?.uploadInput" multiple>
            Upload File
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
