.button
  +unselectable
  color: $text-primary
  border-radius: 3px
  border: 1px solid $border-secondary
  padding: 9px 16px
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: 13px
  font-family: $font-family-medium
  outline: none
  cursor: pointer
  transition: all 100ms ease
  background: $white
  margin-left: 5px

  &[disabled]
    opacity: .5
    cursor: not-allowed
    color: $text-primary !important
    border-color: $border-secondary !important
    background: $white !important

  &:hover, &.is-active
    border-color: $blue
    color: $blue

  &.is-large
    padding: 13px 30px

  &.is-small
    padding: 6px 13px
    font-size: 12px

  &.is-blue
    color: $blue
    border-color: $blue

    &:hover, &.is-active
      background: $blue
      color: $white

    &.is-inverted
      color: $white
      background: $blue

      &:hover, &.is-active
        background: $white
        color: $blue

  &.is-gray
    color: $text-primary
    background: $background-item

    &:hover, &.is-active
      border-color: $text-primary

  &.is-green
    color: $green
    border-color: $green

    &:hover, &.is-active
      background: $green
      color: $white

    &.is-inverted
      background: $green
      color: $white

  &.is-red
    color: $red
    border-color: $red

    &:hover, &.is-active
      background: $red
      color: $white

    &.is-inverted
      background: $red
      color: $white

  i
    margin-right: 5px

  input[type="file"]
    display: none
